[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "rospypi"
url = "https://rospypi.github.io/simple"
verify_ssl = true

[dev-packages]
pysen = {version = ">=0.9.0,<0.10.0", extras = ["lint"]}
pytest = {version = ">=6.0,<7.0"}

[packages]
GitPython = {version = ">=3.1.0,<4.0.0"}
buildtool = {path = "../buildtool/", editable = true}
genmsg = {version = "==0.5.12", index = "rospypi"}
genpy = {version = "==0.6.14", index = "rospypi"}
genmypy = {git = "https://github.com/rospypi/genmypy.git", ref = "a3eb9ae626397185034b28b562521b50e2fb836e"}

[requires]
python_version = "3.8"
